@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header1,
.header2,
.header3,
.header4,
.header5,
.header6,
.body-base,
.body-medium,
.small-base,
.small-medium,
.tiny,
.pretext {
  @apply normal-case;
}

.header1 {
  @apply text-[40px] md:text-5xl 2xl:text-[56px];
}

.header2 {
  @apply md:text-[41px] text-[35px] 2xl:text-[48px];
}

.header3 {
  @apply md:text-[34px] text-[29px] 2xl:text-[40px];
}

.header4 {
  @apply md:text-[27px] text-[23px] 2xl:text-[32px];
}

.header5 {
  @apply md:text-xl text-[17px] 2xl:text-2xl;
}

.header6 {
  @apply text-[17px] lg:text-xl;
}

.body-base {
  @apply text-[14px] lg:text-base font-normal;
}

.body-medium {
  @apply text-[14px] lg:text-base font-medium;
}

.small-base {
  @apply text-xs lg:text-sm;
}

.small-medium {
  @apply text-xs font-medium lg:text-sm;
}

.tiny {
  @apply text-[10px] lg:text-xs;
}

.pretext {
  @apply text-[9px] lg:text-[10px];
}

.custom-input {
  @apply bg-transparent border-gray-300 input focus:border-primary input-sm sm:input-md focus:outline-none placeholder:text-xs placeholder:lg:text-sm;
}

.custom-textarea {
  @apply h-24 bg-transparent border-gray-300 textarea focus:border-primary focus:outline-none placeholder:text-xs placeholder:lg:text-sm;
}

.custom-select {
  @apply bg-transparent border-gray-300 select focus:border-primary select-sm sm:select-md focus:outline-none placeholder:text-xs placeholder:lg:text-sm;
}

.horizontal-padding {
  @apply px-4 sm:px-7 md:px-9 lg:px-16 xl:px-20;
}

.horizontal-margin {
  @apply -mx-4 sm:-mx-7 md:-mx-9 lg:-mx-16 xl:-mx-20;
}

/* Mailchimp subscription */
.alert__sending {
  color: hsl(var(--p) / var(--tw-text-opacity));
    -webkit-animation: fade-loop 0.8s ease-in-out infinite alternate-reverse both;
    animation: fade-loop 0.8s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes fade-loop {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
@keyframes fade-loop {
  0% {
    opacity: 0;
  }
  100% {
    color: white;
    opacity: 1;
  }
}