@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header1,
.header2,
.header3,
.header4,
.header5,
.header6,
.body-base,
.body-medium,
.small-base,
.small-medium,
.tiny,
.pretext {
  @apply normal-case;
}

.header1 {
  @apply text-[56px];
}
.header2 {
  @apply text-5xl;
}
.header3 {
  @apply text-[40px];
}
.header4 {
  @apply text-[32px];
}
.header5 {
  @apply text-2xl;
}
.header6 {
  @apply text-xl;
}
.body-base {
  @apply text-base font-normal;
}
.body-medium {
  @apply text-base font-medium;
}
.small-base {
  @apply text-sm;
}
.small-medium {
  @apply text-sm font-medium;
}
.tiny {
  @apply text-xs;
}
.pretext {
  @apply text-[10px];
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
